<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Authentication">
            <file>tests/Feature/AuthTest.php</file>
        </testsuite>
        <testsuite name="ProductCatalog">
            <file>tests/Feature/CatalogTest.php</file>
            <file>tests/Feature/CatalogCacheTest.php</file>
        </testsuite>
        <testsuite name="Inventory">
            <file>tests/Feature/InventoryTest.php</file>
        </testsuite>
        <testsuite name="CartAndCheckout">
            <file>tests/Feature/CartCheckoutTest.php</file>
        </testsuite>
        <testsuite name="PaymentWebhooks">
            <file>tests/Feature/StripePaymentTest.php</file>
        </testsuite>
        <testsuite name="Coupons">
            <file>tests/Feature/PricingTest.php</file>
        </testsuite>
        <testsuite name="Orders">
            <file>tests/Feature/OrderManagementTest.php</file>
            <file>tests/Feature/AdminDashboardTest.php</file>
        </testsuite>
        <testsuite name="Search">
            <file>tests/Feature/ProductSearchTest.php</file>
        </testsuite>
        <testsuite name="AIFeatures">
            <file>tests/Feature/AIProductSearchTest.php</file>
            <file>tests/Feature/ShoppingAssistantTest.php</file>
        </testsuite>
        <testsuite name="ValidationAuthorization">
            <file>tests/Feature/ValidationAndAuthorizationTest.php</file>
        </testsuite>
        <testsuite name="ExternalServices">
            <file>tests/Feature/ExternalServiceIsolationTest.php</file>
        </testsuite>
        <testsuite name="Factories">
            <file>tests/Feature/FactoryCoverageTest.php</file>
        </testsuite>
        <testsuite name="EventsAndNotifications">
            <file>tests/Feature/EventArchitectureTest.php</file>
        </testsuite>
        <testsuite name="Health">
            <file>tests/Feature/HealthCheckTest.php</file>
            <file>tests/Feature/MonitoringTest.php</file>
            <file>tests/Feature/ProductionReadinessTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4" force="true"/>
        <env name="BROADCAST_CONNECTION" value="null" force="true"/>
        <env name="CACHE_STORE" value="array" force="true"/>
        <env name="DB_CONNECTION" value="sqlite" force="true"/>
        <env name="DB_DATABASE" value=":memory:" force="true"/>
        <env name="DB_URL" value="" force="true"/>
        <env name="MAIL_MAILER" value="array" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="PULSE_ENABLED" value="false" force="true"/>
        <env name="TELESCOPE_ENABLED" value="false" force="true"/>
        <env name="NIGHTWATCH_ENABLED" value="false" force="true"/>
    </php>
</phpunit>
